@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{ 
    margin:0px;
    padding:0px;
    font-family:'poppins',sans-serif;
}   
.container {
background-color: black;
background: url(contact.pg.webp);
display: flex;
justify-content: center;
align-items:center;
height:100vh;
padding:10px;
margin-top:0px;
}
form{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 15px 50px rgb(0,0,0,5);
    border-radius: 15px;
    background: rgba(255,255,255,0,1);
    backdrop-filter:blur(20px);
    flex-wrap:wrap;
   
}
.container form h2{
color:white;
font-weight:520;
margin-top: 0px;
margin-bottom:20px;
width:600px;
text-align: center;
}

.container form input{
    width:500px;
    height:40px;
    outline:none;
    border: none;
    font-weight: 300;
    margin-bottom: 10px;;
    margin:20px;
    padding:5px;
    padding-left: 15px;
    background: none;
    border-bottom: 1px solid #fff;
    color:#fff;

}
.container form input::placeholder{
    color: #fff;

}

.container form h5{
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
    width:500px;

}
.container form textarea{
    background: none;
    border:none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size:13px ;
    padding: 15px;
    outline: none;
    min-width:500px;
    max-width:500px;
    min-height:70px;
    max-height:70px;
}
 textarea::-webkit-scrollbar{
   width:0px;
   background:transparent;
 }

 .container form button{
    border :none;
    background: #fff;
    border-radius: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
    color: #333;
    width:75px;
    padding:2px;
    margin-top: 20px;
    transition: 0.3s;
    cursor: pointer;
 }
  .container form #button:hover{
    opacity:0.2s;
  }

  .container button:hover{
    background-color: rgba(246, 254, 251, 0.913);
  }
